ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-style: normal
}

body{
    font-family: "Roboto", sans-serif;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-logo-blue{
    color: #4d5ae5;
}

.header-menu-link{font-family: "Roboto",
sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link-action:active{
    text-decoration:underline
}

.header-contacts-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contacts-link:hover{
        color: #404bbf;
}

.hero {
    
}

.hero-btn {}




























.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#f4f4fd;;

}

.footer-logo-blue {
    color: #4d5ae5;
}